@import url('https://fonts.googleapis.com/css?family=DM Sans');

body
{
    margin: 0;
    overflow-y: hidden; 
    overflow-x: hidden; 
}
.intro-section-container
{
    height: 200vh;
    position: relative;
    background: linear-gradient(180deg, #011826 0%, #D97E96 150.91%);
    background-attachment: fixed;
}

.header-section
{

}
.header
{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding-top : 1rem;
}
.header-container
{
    display: flex;
    align-items: center;
    margin-left: 1.875rem;
}
.profileImage
{
    margin-right: 1rem;
}
.header-profile-pic
{
    width: auto;
    height: 2.8125rem;
    border-radius: 2.1875rem;
}
.header-name-text
{
    color: white;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
}
.contacts-container
{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1.875rem;
}
.github-image
{
    margin-right: 1rem;
}
.contact-box
{
    background: #A36584;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 0.4375rem 2.5rem;
}
.contact-button
{
    color: white;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
a
{
    text-decoration: none;
}
.intro-section
{

}
.introduction-container
{
    display: grid;
    width: 35%;
    margin-left: 5.5625rem;
    margin-top: 6.5rem;
    position: absolute;
    top: 10%;
    
}
.intro
{
    color: #ebebeb;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 2.1875rem;
}
.intro-name
{
    color: white;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    margin:-0.625rem -0.125rem;
}
.description-bio
{
    color: #ebebeb;
    font-family: "DM Sans";
    font-style: normal;
    font-size: 1.25rem;
    margin-top: 1.25rem;
    word-wrap: break-word;
}
.language-section
{
    display: grid;
    place-items: center;
    align-content: center;
    padding-top: 37rem;
}
.experiences-header
{
    color: white;
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
@media (min-width: 1600px) {
    .languages
    {
        display: flex;
        column-gap: 2rem;
    }
    .experiences-header
    {
        color: white;
        font-family: "DM Sans";
        font-weight: 500;
        font-size: 1.75rem;
        margin-bottom: 1.5rem;
        margin-right: 89.5rem;
    }
    .intro-section-container
    {
        height: 100vh;
    }
}
.language-img
{
    object-fit: contain;
    padding: 10px 0px;
    margin-right: 10px;
}
.language
{
    color: white;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    background: #152B42;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.1875rem;
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: center;
    margin-bottom: 2rem;
}
.language:nth-child(2)
{
    transition-delay: 100ms;
}
.language:nth-child(3)
{
    transition-delay: 150ms;
}
.language:nth-child(4)
{
    transition-delay: 200ms;
}
.language:nth-child(5)
{
    transition-delay: 250ms;
}
.language:nth-child(6)
{
    transition-delay: 300ms;
}
.language:nth-child(7)
{
    transition-delay: 350ms;
}
.hidden
{
    opacity: 0;
    transition: all 1.5s;
}
@media(prefers-reduced-motion)
{
    .hidden
    {
        opacity: 0;
    }
}
.show
{
    opacity: 1;
}
.language:hover
{
    transform: translate(0, -15px);;
    transition: 0.4s;
}
.statusMessage
{
    text-align: center;
    color: white;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 550;
    font-size: 12px;
    padding-bottom: 10px;
}
.gallery
{
    height: 100vh;
    position: relative;
    background-color: black;
}
