@import url('https://fonts.googleapis.com/css?family=DM Sans');

body
{
    background: linear-gradient(180deg, #011826 0%, #D97E96 150.91%);
    background-attachment: fixed;
    /* overflow: hidden; */
}
.header
{
    display: grid;
    align-items: center;
    margin-top: 1.25rem;
    grid-template-columns: 1fr 1fr;
}
.header-container
{
    display: flex;
    align-items: center;
    margin-left: 1.875rem;
}
.profileImage
{
    margin-right: 1rem;
}
.header-profile-pic
{
    width: auto;
    height: 2.8125rem;
    border-radius: 2.1875rem;
}
.header-name-text
{
    color: white;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
}
.contacts-container
{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1.875rem;
}
.github-image
{
    margin-right: 1rem;
}
.contact-box
{
    background: #A36584;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 0.4375rem 2.5rem;
}
.contact-button
{
    color: white;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
a
{
    text-decoration: none;
}
.introduction-container
{
    display: grid;
    width: 35%;
    margin-left: 5.5625rem;
    margin-top: 6.5rem;
    position: absolute;
    top: 10%;
    
}
.intro
{
    color: #ebebeb;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 2.1875rem;
}
.intro-name
{
    color: white;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    margin:-0.625rem -0.125rem;
}
.description-bio
{
    color: #ebebeb;
    font-family: "DM Sans";
    font-style: normal;
    font-size: 1.25rem;
    margin-top: 1.25rem;
    word-wrap: break-word;
}
section
{
    display: grid;
    place-items: center;
    align-content: center;
    margin-top: 30%;
}
.experiences-header
{
    margin-right: 75rem;
    color: white;
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}
.languages
{
    display: flex;
    column-gap: 2rem;
}
.language-img
{
    object-fit: contain;
    padding: 10px 0px;
    margin-right: 10px;
}
.language
{
    color: white;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    background: #152B42;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.1875rem;
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: center;
}
.language:nth-child(2)
{
    transition-delay: 100ms;

}
.language:nth-child(3)
{
    transition-delay: 200ms;
}
.language:nth-child(4)
{
    transition-delay: 300ms;
}
.language:nth-child(5)
{
    transition-delay: 400ms;
}
.language:nth-child(6)
{
    transition-delay: 500ms;
}
.hidden
{
    opacity: 0;
    transition: all 1.5s;
}
@media(prefers-reduced-motion)
{
    .hidden
    {
        opacity: 0;
    }
}
.show
{
    opacity: 1;
}
